Press the button to update your information

<%=button_to "/root", method: 'post' do %>


Update my information


<%end%>

<p>
</p>

<audio controls>
  
    <source src="/tmp_file.wav" type="audio/wav">    

</audio>